<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger @navigationToggle" aria-label="menu" aria-expanded="false" data-target="navbar" @onclick="@ToggleNavMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu @navigationToggle">
      <div class="navbar-start">
          <a class="navbar-item" href="/">
              <span class="oi oi-list pr-3" aria-hidden="true"></span>
              TODO List
          </a>
      </div>
      <div class="navbar-end">
      </div>
  </div>
</nav>


@code {
    private bool collapseNavMenu = true;

    private string navigationToggle => collapseNavMenu ? "is-active" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}