@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Fluxor
@using blazor_wasm_todo.Store

@inject IDispatcher _dispatcher

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        TODO List
      </h1>
      <h2 class="subtitle">
        This is a blazor project to manage your tasks.
      </h2>
    </div>
  </div>
</section>

<TodoForm AddTodoCallback="@AddTodo"></TodoForm>

 @if (TodoItemsState.Value.TodoItems != null)
 {
   @foreach (var todo in TodoItemsState.Value.TodoItems)
   {
     <TodoCard Todo=@todo OnRemoveTodo=@RemoveTodo/>
   }
 }

@code {

  [Inject]
  private IState<TodoItemsState> TodoItemsState { get; init; }

  protected override async Task OnInitializedAsync()
  {
    _dispatcher.Dispatch(new LoadFromStorageAction());
  }

  async Task AddTodo(Todo todo)
  {
    _dispatcher.Dispatch(new SaveTodoAction(todo));
  }
  
  async Task RemoveTodo(int id)
  {
    _dispatcher.Dispatch(new DeleteTodoAction(id));
  }
}