@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Fluxor
@using Bunit.Extensions

@inject IDispatcher _dispatcher
@inject Blazored.LocalStorage.ILocalStorageService localStorage;

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        TODO List
      </h1>
      <h2 class="subtitle">
        This is a blazor project to manage your tasks.
      </h2>
    </div>
  </div>
</section>
@if (todoItems != null)
{
  @foreach (var todo in todoItems)
  {
    <TodoCard Title=@todo.title TodoNumber=@todo.getId()/>
  }
}


@code {

  private List<Todo> todoItems = new();
  const string StorageKey = "todoItems";

  protected override async Task OnInitializedAsync()
  {
    await load();
  }

  private async Task load()
  {
    todoItems = await localStorage.GetItemAsync<List<Todo>>(StorageKey);
  }

  async Task persist()
  {
    Todo todo = new Todo(1, "Einkaufen");
    todoItems.Add(todo);
    await localStorage.SetItemAsync(StorageKey, todoItems);
  }

}