@page "/"

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        TODO List
      </h1>
      <h2 class="subtitle">
        This is a project to manage your tasks with bulma with react.
      </h2>
    </div>
  </div>
</section>

<TodoCard Title="My first Todo!" TodoNumber="12"/>