@using blazor_wasm_todo.Store

<div class="field px-5 pt-5">
  <div class="control">
    <input class="input @(_isTodoTitleValid ? "" : "is-danger")" type="text" placeholder="Titel" @bind="@_title">
  </div>
  @if (!_isTodoTitleValid)
  {
    <p class="help is-danger">Invalid Title</p>
  }
  else
  {
    <p class="py-2"></p>
  }
</div>
<div class="field px-5">
  <div class="control">
    <textarea class="textarea is-small has-fixed-size" placeholder="Description" @bind="@_description"></textarea>
  </div>
</div>
<div class="field px-5">
  <div class="control">
    <button @onclick="@AddTodo" class="button">Add</button>
  </div>
</div>

@code {
  [Parameter] 
  public EventCallback<Todo> AddTodoCallback { get; set; }

  private string _title;
  private string _description;
  private bool _isTodoTitleValid = true;
  
  private async Task AddTodo()
  {
    _isTodoTitleValid = validateTodoTitle(_title);
    if (_isTodoTitleValid)
    {
      await AddTodoCallback.InvokeAsync(new Todo(0, _title, _description));
      _title = "";
      _description = "";
    }
  }

  private bool validateTodoTitle(string title)
  {
    return !string.IsNullOrEmpty(title);
  }
}