<section class="section">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span class="tag is-light">@TodoNumber.ToString()</span>
        @Title
      </div>

      <button type="button" class="button button-status">
        <span class="icon"><i class="far fa-square"></i></span>
      </button>
    </header>
    <div class="card-content">
      <div class="content">
        <p>description</p>
        <hr />
        <small>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </small>
      </div>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item">
        <button type="button" class="button is-danger is-outlined" @onclick="removeTodo">
          Delete
        </button>
      </div>
      <div class="card-footer-item">
        <button type="button" class="button is-primary is-outlined">
          Edit
        </button>
      </div>
    </footer>
  </div>
</section>

@code {
  
  [Parameter]
  public string Title { get; set; }
  
  [Parameter]
  public int TodoNumber { get; set; }  
  
  [Parameter]
  public EventCallback<int> onRemoveTodo { get; set; }
  
  private async Task removeTodo()
  {
    await onRemoveTodo.InvokeAsync(TodoNumber);
  }

}