<section class="section">
  <div class="card">
    <header class="card-header">
      <div class="card-header-title">
        <span class="tag is-light">@Todo.Id.ToString()</span>
        @Todo.Title
      </div>

      <button type="button" class="button button-status">
        <span class="icon"><i class="far fa-square"></i></span>
      </button>
    </header>
    <div class="card-content">
      <div class="content">
        <p>@Todo.Description</p>
        <hr />
        <small>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </small>
      </div>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item">
        <button type="button" class="button is-danger is-outlined" @onclick="RemoveTodo">
          Delete
        </button>
      </div>
      <div class="card-footer-item">
        <button type="button" class="button is-primary is-outlined">
          Edit
        </button>
      </div>
    </footer>
  </div>
</section>

@code {
  
  [Parameter]
  public Todo Todo { get; set; }

  [Parameter]
  public EventCallback<int> OnRemoveTodo { get; set; }
  
  private async Task RemoveTodo()
  {
    await OnRemoveTodo.InvokeAsync(Todo.Id);
  }

}